@import 'variables';
@import 'search_form';
@import 'header';

h1.title {
    color: $color;
    text-decoration: overline;
    background-color: red;
}

.img {
    background-image: url(../img/sambre.jpg);
    width: 100px;
    height:100px;
    background-size: cover;
    display: flex;
    flex-direction: row;
}
.section {
    background-color: purple;
    padding: 1rem;
}